<div id="sidebar">

  <div class="panel">
    
    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <div class="user_card">
    <div>
    <a class="user_avatar" href="/user/xdlnode">
      <img src="/uploads/<%= user.userpic?user.userpic : 'default.png' %>" title="<%= user.username %>">
    </a>
    <span class="user_name"><a class="dark" href="/user/xdlnode"><%= user.username %></a></span>

    <div class="board clearfix">
      <div class="floor">
        <span class="big">积分: <%= user.gold %> </span>
      </div>
    </div>
    <div class="space clearfix"></div>
    <span class="signature">
        “
          <%= user.mark %>
        ”
    </span>
  </div>
</div>


    </div>
    
  </div>

  
  <div class="panel">
    <div class="inner">
      <a href="/topic/create" id="create_topic_btn">
        <span class="span-success">发布话题</span>
      </a>
    </div>
  </div>
  

  
    
<div class="panel">
  <div class="inner ads">

    
      
      <a href="https://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&amp;utm_medium=content_pic_pc&amp;utm_campaign=kuai&amp;utm_content=gift&amp;ytag=cnodejs" target="_blank" class="banner sponsor_outlink" data-label="ucloud-banner">
        <img src="//dn-cnode.qbox.me/FnShQd73xj4HDHApe8umrioB9INR">
      </a>
    
      
        <div class="sep10"></div>
      
      <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="banner sponsor_outlink" data-label="alinode">
        <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_">
      </a>
    
  </div>
</div>

  

  

  

  <div class="panel">
    <div class="header">
      <span class="col_fade">友情社区</span>
    </div>
    <div class="inner">
      <ol class="friendship-community">
        <li>
          <a href="https://ruby-china.org/" target="_blank">
            <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://golangtc.com/" target="_blank">
            <img src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://phphub.org/" target="_blank">
            <img src="//o4j806krb.qnssl.com/public/images/phphub-logo.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="https://testerhome.com/" target="_blank">
            <img src="//dn-cnode.qbox.me/FjLUc7IJ2--DqS706etPQ1EGajxK">
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class="panel">
    <div class="header">
      <span class="col_fade">客户端二维码</span>
    </div>
    <div class="inner cnode-app-download">
      <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" width="200">
      <br>
      <a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>
    </div>
  </div>

</div>